<%= form_with(model: flight) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
        <% flight.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :airline %>
    <%= form.text_field :airline %>
  </div>

  <div class="field">
    <%= form.label :origin_airport %>
    <%= form.text_field :origin_airport %>
  </div>

  <div class="field">
    <%= form.label :destination_airport %>
    <%= form.text_field :destination_airport %>
  </div>

  <div class="field">
    <%= form.label :departure %>
    <%= form.datetime_select :departure %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.number_field :capacity %>
  </div>

  <div class="field">
    <%= form.label :available_seats %>
    <%= form.number_field :available_seats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
